body {
  margin: 40px 350px 80px;
  background-color: rgb(207, 226, 207);
  color: #626263;
}
h1 {
  font-family: Arial Rounded MT;
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  text-align: center;
  color: darksalmon;
  padding: 30px 0;
}
h2 {
  font-family: Comfortaa, "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: black;
}
.bar {
  font-family: Comfortaa, "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
.Houston {
  color: darksalmon;
  font-size: 35px;
  font-weight: 900;
}
.currentDayTime {
  font-weight: 900;
  font-size: 25px;
}

.weather {
  font-weight: 900;
  font-size: 35px;
  color: darksalmon;
  line-height: normal;
}
.fa-cloud-bolt,
.fa-cloud-rain,
.fa-cloud,
.fa-cloud-sun {
  font-size: 100px;
  padding: 50px 0;
}
#icon {
  width: 175px;

}
.temp {
  font-size: 110px;
}
.temp-unit {
  font-weight: 900;
  font-size: 20px;
}
#fareinheit-link, #celcius-link {
  color: #626263;
  text-decoration: none;
}
.conditions {
  font-weight: 900;
}
.highTemp {
  font-weight: 900;
  color: darksalmon;
}
#search-form {
  padding-left: 50px;
}

p {
  text-align: center;
  font-family: Comfortaa;
  font-size: 35px;
  color: darksalmon;
  font-weight: 900;
  padding: 20px 0;
}
hr {
  border-top: 2px solid black;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}
.col {
  font-family: comfortaa;
  font-size: 23px;
  padding-bottom: 30px;
}
.days {
  color:#73757b;
  font-weight: 900;
  text-decoration-line: underline;
}
footer {
  text-align: center;
  font-family: comfortaa;
  font-size: 18px;
}
.my-name {
  color: darksalmon;
  font-weight: 600;
}
.blue-button {
  background-color: darksalmon;
  border-color: darksalmon;
}
button.blue-button:hover {
  background-color: rgb(233, 118, 80);
  border-color: rgb(233, 118, 80);
}
.green-button {
  background-color: darkseagreen;
  border-color: darkseagreen;
}
.whole-container,
.container {
  background-color: rgb(253, 253, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
}
.forecast {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
}
.city-container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.github-link {
  color: darksalmon;
  text-decoration: none;
  font-weight: 600;
}
